html {
    font-size: 100%;
}
body {
    font-family: 'Roboto', sans-serif;
}
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.sidebar {
    position: fixed;
    left: -250px;
    width: 250px;
    height: 100%;
    background: #042331;
}
.sidebar header {
    font-size: 20px;
    font-family: "impact";
    color:red;
    text-align:center;
    line-height: 130px;
    background:  #042331;
   
    user-select: none;
}

.sidebar ul li a{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 17px;
    color: white;
    padding-left: 40px;
    box-sizing: border-box;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid black;
    transition: .4s;
    font-family: cursive;
}

.sidebar ul li:hover a{
    padding-left: 50px;
} 

.sidebar ul a i{
    margin-right: 16px;
}

 #check {
    display: none;
}

label #btn, label #cancel {
    position: absolute;
    cursor: pointer;
    background: black;
    border-radius: 3px;
} 
label #btn{
    left: 40px;
    top: 30px;
    font-size: 35px;
    color: white;
    padding: 3px 3px;
}
label #cancel {
    z-index: 1111;
    left: -190px;
    top: 10px;
    font-size: 30px;
    padding: 2px 4px;
    color: white;
    transition:all .5 ease;
}
#check:checked ~ .sidebar {
    left: 0;
}

#check:checked ~ label #btn{
    left: 250px;
    opacity: 0;
    pointer-events: none;
}
#check:checked ~ label #cancel{
    left: 14rem;
    
}
#check:checked ~  section{
    margin-left: 13rem;
}
section{
    background-image: url(mainpg.jpg) ;
    background-position: center;
    background-size: cover;
    height: 100vh;
    transition: all .5s;
}
section h1 {
    text-align: center;
    font-size: 70px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    text-shadow: 0px 0px 1.5rem red;
}
section h2 {
    text-align: center;
    border-top: 1px solid black;
    bottom: 40%;
    font-size: 30px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-shadow: 0px 0px 0px 1.2rem blueviolet
}
.centerdiv {
    position: absolute;
    bottom: 10%;
    left: 48%;
    transform: translate(-50%,-50%);
    color: black;
}
.centerdiv a{
    margin-left: 60px;
    color: black;
   
    
}

.centerdiv li{
    list-style: none;
    margin: 20px ;
    display: inline-block;
    font-size: 20px;
    padding: 20px 20px;
   
    border-radius: 50%;
    transition: .5s;
}

.fa-instagram:hover{
    color:  red;
    transform: scale(2,2);
    border-bottom: 2px solid black;
}
.fa-youtube:hover{
    color:  red;
    transform: scale(2,2);
    border-bottom: 2px solid black;
}
.fa-twitter:hover{
    color:blue;
    transform: scale(2,2);
    border-bottom: 2px solid black;
}
.fa-facebook-square:hover{
    color: blue;
    transform: scale(2,2);
    border-bottom: 2px solid black;
}
    
    
    




   
   

@media only screen and (max-width: 660px){
    section{
        background-image: url(mainpg.jpg) ;
        background-position: center;
        background-size: cover;
        height: 100vh;
        transition: all .5s;
    }
    section h1 {
        text-align: center;
        font-size: 28px;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-style: italic;
        text-shadow: 0px 0px 1.5rem red;
    }
     section h2 {
        text-align: center;
        border-top: 1px solid black;
        bottom: 15%;
        font-size: 20px;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        text-shadow: 0px 0px 0px 1.2rem blueviolet
    }
    #check:checked ~  section{
        margin-left: 80px;
    }
    .sidebar {
        position: fixed;
        left: -250px;
        width: 180px;
        height: 100%;
        background: #042331;
    }
    .sidebar header {
        font-size: 21px;
        font-family: "impact";
        color:red;
        text-align:center;
        line-height: 30px;
        background:  #042331;
        margin-top: 20%
        user-select: none;
    }
    
    .sidebar ul li a{
        display: block;
        height: 100%;
        width: 100%;
        line-height: 45px;
        font-size: 15px;
        color: white;
        padding-left: 40px;
        box-sizing: border-box;
        border-top: 1px solid rgba(255, 255, 255, 0.1);
        border-bottom: 1px solid black;
        transition: .4s;
        font-family: cursive;
    }
    
    .sidebar ul li:hover a{
        padding-left: 30px;
    } 
    
    .sidebar ul a i{
        margin-right: 16px;
    }
    
     #check {
        display: none;
    }
    label #btn, label #cancel {
        position: absolute;
        cursor: pointer;
        background: black;
        border-radius: 3px;
    } 
    label #btn{
        left: 25px;
        top: 30px;
        font-size: 20px;
        color: white;
        padding: 3px 3px;
    }
    label #cancel {
        z-index: 1111;
        left: -85px;
        top: 10px;
        font-size: 10px;
        padding: 2px 4px;
        color: white;
        transition:all .5 ease;
    }
    #check:checked ~ .sidebar {
        left: 0;
    }
    
    #check:checked ~ label #btn{
        left: 100px;
        opacity: 0;
        pointer-events: none;
    }
    #check:checked ~ label #cancel{
        left: 150px;
        
    }
   
    
    
    section{
        background-image: url(mainpg.jpg) ;
        background-position: center;
        background-size: cover;
        height: 100vh;
        transition: all .5s;
        
    }
    .centerdiv {
        position: absolute;
        bottom: 8%;
        left: 50%;
        transform: translate(-50%,-50%);
        color:black;
        font-size: 13px;
    }
    .centerdiv a{
        margin-left: 10px;
        color: black;
        
       
        
    }
    
    .centerdiv li{
        list-style: none;
        margin: 5px ;
        display: inline-block;
        font-size: 5px;
        padding: 10px 10px;
       
        border-radius: 50%;
        transition: .5s;
    }
   
    .fa-instagram:hover{
        color:  red;
        transform: scale(2,2);
        border-bottom: 1px solid black;
    }
    .fa-youtube:hover{
        color:  red;
        transform: scale(2,2);
        border-bottom: 1px solid black;
    }
    .fa-twitter:hover{
        color:blue;
        transform: scale(2,2);
        border-bottom: 1px solid black;
    }
    .fa-facebook-square:hover{
        color: blue;
        transform: scale(2,2);
        border-bottom: 1px solid black;
    }
        
    
    
  
       
    
}
