body {
    font-family: 'Roboto', sans-serif;
}
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.sidebar {
    position: fixed;
    left: -250px;
    width: 250px;
    height: 100%;
    background: #042331;
}
.sidebar header {
    font-size: 20px;
    font-family: "impact";
    color:red;
    text-align:center;
    line-height: 130px;
    background:  #042331;
    
    user-select: none;
}

.sidebar ul li a{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 17px;
    color: white;
    padding-left: 40px;
    box-sizing: border-box;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid black;
    transition: .4s;
    font-family: cursive;
}

.sidebar ul li:hover a{
    padding-left: 50px;
} 

.sidebar ul a i{
    margin-right: 16px;
}

 #check {
    display: none;
}

label #btn, label #cancel {
    position: absolute;
    cursor: pointer;
    background: black;
    border-radius: 3px;
} 
label #btn{
    left: 40px;
    top: 30px;
    font-size: 35px;
    color: white;
    padding: 3px 3px;
}
label #cancel {
    z-index: 1111;
    left: -190px;
    top: 10px;
    font-size: 30px;
    padding: 2px 4px;
    color: white;
    transition:all .5 ease;
}
#check:checked ~ .sidebar {
    left: 0;
}

#check:checked ~ label #btn{
    left: 250px;
    opacity: 0;
    pointer-events: none;
}
#check:checked ~ label #cancel{
    left: 14rem;
    
}
#check:checked ~  section{
    margin-left: 13rem;
}
section{
    background-image: url(mainpg.jpg) ;
    background-position: center;
    background-size: cover;
    height: 100vh;
    transition: all .5s;
}
section h1 {
    text-align: center;
    font-size: 5rem;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    text-shadow: 0px 0px 1.5rem red;
}


 .centerdiv {
    display: flex;
  
    align-items: center;
    justify-content: center;
    
}
.centerdiv a i{
    position: absolute;
    bottom: 100px;
    transform: translate(-50%, -50%);
    
   transition: all 0.3s linear;
}
.centerdiv a:hover i{
    transform: scale(2,2);
}

.centerdiv a{
    height: 70px;
    width: 70px;
    background-color: white;
    border-radius: 50px;
    text-align: center;
    margin-left: 60px;
    box-shadow: 0px 0px 10px 10px red;
    bottom: 20px;
    
   
   
}
